.project-title {
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    font-family: cursive;
    font-style: italic;
    text-align: center;
}

.inner-layout {
    padding: 0 24px 24px;
}

nz-layout {
    width: 100%;
    height: 93%;
}

nz-header {
    width: 100%;
    height: 7%;
}